<!doctype html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <form action="/classmate" method="post">
        <input type="text" name="name" placeholder="Name"> 
        <input type="text" name="age" placeholder="Age">
        <button type="submit">Submit</button>
    </form>

</body>
</html>