<!DOCTYPE HTML>
<html>
<body>
  <h1>Classmates new:</h1>
  
  <form method="POST" action="/users/new">
    <input type="text" name="first_name">
    <input type="text" name="last_name">
    <input type="number" name="age">
    <button type="submit">Submit</button>
  </form>

</body>
</html>